.jumbotron {
    background-image: url("/images/luca-bravo-VowIFDxogG4-unsplash.jpg");
    background-size: cover;
    height: 36rem;
    position: relative;
    }

.container-text {
    background-color: rgba(178,185,216,.8);
    position: absolute;
    margin: auto;
    border-radius: 8px;
    top: 25%;
    left: 25%;
    width: 50vw;
    padding: 2rem;
 }

/*
.carousel{
    height: 36rem;
}*/
