<!--<!DOCTYPE html>-->
<!--<html lang="en"> -->

<!--<head>-->
<!--	<meta charset="UTF-8">-->
<!--	<meta name="viewport" content="width=device-width">-->
<!--    <title>2020 Calendar Visitors View</title>-->

<!--	-->
<!--    <script type="text/javascript" src="https://www.google.com/jsapi"> </script>-->
<!--    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"> </script>-->
<!--    <script type="text/javascript">-->
<!--    -->
<!--      google.charts.load("current", {packages:["calendar"]});-->
<!--      google.charts.setOnLoadCallback(drawChart);-->
<!--        	-->
<!--	function drawChart() {-->
<!--	var dataTable = new google.visualization.DataTable();-->
<!--       dataTable.addColumn({ type: 'date', id: 'Date' });-->
<!--       dataTable.addColumn({ type: 'number', id: 'Visitors' });-->
<!--       dataTable.addRows([-->
<!--				[ new Date(2020, 0 , 1), 2709],-->
<!--				[ new Date(2020, 0 , 2), 2709],-->
<!--				[ new Date(2020, 0 , 3), 2890],-->
<!--				[ new Date(2020, 0 , 4), 3096],-->
<!--				[ new Date(2020, 0 , 5), 3251],-->
<!--				[ new Date(2020, 0 , 6), 3096],-->
<!--				[ new Date(2020, 0 , 7), 2890],-->
<!--				[ new Date(2020, 0 , 8), 2709],-->
<!--				[ new Date(2020, 0 , 9), 2709],-->
<!--				[ new Date(2020, 0 , 10), 2890],-->
<!--				[ new Date(2020, 0 , 11), 3096],-->
<!--				[ new Date(2020, 0 , 12), 3251],-->
<!--				[ new Date(2020, 0 , 13), 3096],-->
<!--				[ new Date(2020, 0 , 14), 2890],-->
<!--				[ new Date(2020, 0 , 15), 2709],-->
<!--				[ new Date(2020, 0 , 16), 2709],-->
<!--				[ new Date(2020, 0 , 17), 2890],-->
<!--				[ new Date(2020, 0 , 18), 3096],-->
<!--				[ new Date(2020, 0 , 19), 3251],-->
<!--				[ new Date(2020, 0 , 20), 3096],-->
<!--				[ new Date(2020, 0 , 21), 2890],-->
<!--				[ new Date(2020, 0 , 22), 2709],-->
<!--				[ new Date(2020, 0 , 23), 2709],-->
<!--				[ new Date(2020, 0 , 24), 2890],-->
<!--				[ new Date(2020, 0 , 25), 3096],-->
<!--				[ new Date(2020, 0 , 26), 3251],-->
<!--				[ new Date(2020, 0 , 27), 3096],-->
<!--				[ new Date(2020, 0 , 28), 2890],-->
<!--				[ new Date(2020, 0 , 29), 2709],-->
<!--				[ new Date(2020, 0 , 30), 2709],-->
<!--				[ new Date(2020, 0 , 31), 2890],-->
<!--				[ new Date(2020, 1 , 1), 9030],-->
<!--				[ new Date(2020, 1 , 2), 2236],-->
<!--				[ new Date(2020, 1 , 3), 1720],-->
<!--				[ new Date(2020, 1 , 4), 1032],-->
<!--				[ new Date(2020, 1 , 5), 430],-->
<!--				[ new Date(2020, 1 , 6), 430],-->
<!--				[ new Date(2020, 1 , 7), 1032],-->
<!--				[ new Date(2020, 1 , 8), 1720],-->
<!--				[ new Date(2020, 1 , 9), 2236],-->
<!--				[ new Date(2020, 1 , 10), 1720],-->
<!--				[ new Date(2020, 1 , 11), 1032],-->
<!--				[ new Date(2020, 1 , 12), 430],-->
<!--				[ new Date(2020, 1 , 13), 430],-->
<!--				[ new Date(2020, 1 , 14), 1032],-->
<!--				[ new Date(2020, 1 , 15), 1720],-->
<!--				[ new Date(2020, 1 , 16), 2236],-->
<!--				[ new Date(2020, 1 , 17), 1720],-->
<!--				[ new Date(2020, 1 , 18), 1032],-->
<!--				[ new Date(2020, 1 , 19), 430],-->
<!--				[ new Date(2020, 1 , 20), 430],-->
<!--				[ new Date(2020, 1 , 21), 1032],-->
<!--				[ new Date(2020, 1 , 22), 1720],-->
<!--				[ new Date(2020, 1 , 23), 2236],-->
<!--				[ new Date(2020, 1 , 24), 1720],-->
<!--				[ new Date(2020, 1 , 25), 1032],-->
<!--				[ new Date(2020, 1 , 26), 430],-->
<!--				[ new Date(2020, 1 , 27), 430],-->
<!--				[ new Date(2020, 1 , 28), 1032],-->
<!--				[ new Date(2020, 1 , 29), 1032],-->
<!--				[ new Date(2020, 2 , 1), 9030],-->
<!--				[ new Date(2020, 2 , 2), 2236],-->
<!--				[ new Date(2020, 2 , 3), 1720],-->
<!--				[ new Date(2020, 2 , 4), 1032],-->
<!--				[ new Date(2020, 2 , 5), 430],-->
<!--				[ new Date(2020, 2 , 6), 430],-->
<!--				[ new Date(2020, 2 , 7), 1032],-->
<!--				[ new Date(2020, 2 , 8), 1720],-->
<!--				[ new Date(2020, 2 , 9), 2236],-->
<!--				[ new Date(2020, 2 , 10), 1720],-->
<!--				[ new Date(2020, 2 , 11), 1032],-->
<!--				[ new Date(2020, 2 , 12), 430],-->
<!--				[ new Date(2020, 2 , 13), 430],-->
<!--				[ new Date(2020, 2 , 14), 1032],-->
<!--				[ new Date(2020, 2 , 15), 1720],-->
<!--				[ new Date(2020, 2 , 16), 2236],-->
<!--				[ new Date(2020, 2 , 17), 1720],-->
<!--				[ new Date(2020, 2 , 18), 1032],-->
<!--				[ new Date(2020, 2 , 19), 430],-->
<!--				[ new Date(2020, 2 , 20), 430],-->
<!--				[ new Date(2020, 2 , 21), 1032],-->
<!--				[ new Date(2020, 2 , 22), 1720],-->
<!--				[ new Date(2020, 2 , 23), 2236],-->
<!--				[ new Date(2020, 2 , 24), 1720],-->
<!--				[ new Date(2020, 2 , 25), 1032],-->
<!--				[ new Date(2020, 2 , 26), 430],-->
<!--				[ new Date(2020, 2 , 27), 430],-->
<!--				[ new Date(2020, 2 , 28), 1032],-->
<!--				[ new Date(2020, 2 , 29), 1720],-->
<!--				[ new Date(2020, 2 , 30), 2236],-->
<!--				[ new Date(2020, 2 , 31), 1720],-->
<!--				[ new Date(2020, 3 , 1), 6532],-->
<!--				[ new Date(2020, 3 , 2), 311],-->
<!--				[ new Date(2020, 3 , 3), 311],-->
<!--				[ new Date(2020, 3 , 4), 746],-->
<!--				[ new Date(2020, 3 , 5), 1244],-->
<!--				[ new Date(2020, 3 , 6), 1617],-->
<!--				[ new Date(2020, 3 , 7), 1244],-->
<!--				[ new Date(2020, 3 , 8), 746],-->
<!--				[ new Date(2020, 3 , 9), 311],-->
<!--				[ new Date(2020, 3 , 10), 311],-->
<!--				[ new Date(2020, 3 , 11), 746],-->
<!--				[ new Date(2020, 3 , 12), 1244],-->
<!--				[ new Date(2020, 3 , 13), 1617],-->
<!--				[ new Date(2020, 3 , 14), 1244],-->
<!--				[ new Date(2020, 3 , 15), 746],-->
<!--				[ new Date(2020, 3 , 16), 311],-->
<!--				[ new Date(2020, 3 , 17), 311],-->
<!--				[ new Date(2020, 3 , 18), 746],-->
<!--				[ new Date(2020, 3 , 19), 1244],-->
<!--				[ new Date(2020, 3 , 20), 1617],-->
<!--				[ new Date(2020, 3 , 21), 1244],-->
<!--				[ new Date(2020, 3 , 22), 746],-->
<!--				[ new Date(2020, 3 , 23), 311],-->
<!--				[ new Date(2020, 3 , 24), 311],-->
<!--				[ new Date(2020, 3 , 25), 746],-->
<!--				[ new Date(2020, 3 , 26), 1244],-->
<!--				[ new Date(2020, 3 , 27), 1617],-->
<!--				[ new Date(2020, 3 , 28), 1244],-->
<!--				[ new Date(2020, 3 , 29), 746],-->
<!--				[ new Date(2020, 3 , 30), 311],-->
<!--				[ new Date(2020, 4 , 1), 6321],-->
<!--				[ new Date(2020, 4 , 2), 722],-->
<!--				[ new Date(2020, 4 , 3), 1204],-->
<!--				[ new Date(2020, 4 , 4), 1565],-->
<!--				[ new Date(2020, 4 , 5), 1204],-->
<!--				[ new Date(2020, 4 , 6), 722],-->
<!--				[ new Date(2020, 4 , 7), 301],-->
<!--				[ new Date(2020, 4 , 8), 301],-->
<!--				[ new Date(2020, 4 , 9), 722],-->
<!--				[ new Date(2020, 4 , 10), 1204],-->
<!--				[ new Date(2020, 4 , 11), 1565],-->
<!--				[ new Date(2020, 4 , 12), 1204],-->
<!--				[ new Date(2020, 4 , 13), 722],-->
<!--				[ new Date(2020, 4 , 14), 301],-->
<!--				[ new Date(2020, 4 , 15), 301],-->
<!--				[ new Date(2020, 4 , 16), 722],-->
<!--				[ new Date(2020, 4 , 17), 1204],-->
<!--				[ new Date(2020, 4 , 18), 1565],-->
<!--				[ new Date(2020, 4 , 19), 1204],-->
<!--				[ new Date(2020, 4 , 20), 722],-->
<!--				[ new Date(2020, 4 , 21), 301],-->
<!--				[ new Date(2020, 4 , 22), 301],-->
<!--				[ new Date(2020, 4 , 23), 722],-->
<!--				[ new Date(2020, 4 , 24), 1204],-->
<!--				[ new Date(2020, 4 , 25), 1565],-->
<!--				[ new Date(2020, 4 , 26), 1204],-->
<!--				[ new Date(2020, 4 , 27), 722],-->
<!--				[ new Date(2020, 4 , 28), 301],-->
<!--				[ new Date(2020, 4 , 29), 301],-->
<!--				[ new Date(2020, 4 , 30), 722],-->
<!--				[ new Date(2020, 4 , 31), 1204],-->
<!--				[ new Date(2020, 5 , 1), 11197],-->
<!--				[ new Date(2020, 5 , 2), 2133],-->
<!--				[ new Date(2020, 5 , 3), 1280],-->
<!--				[ new Date(2020, 5 , 4), 533],-->
<!--				[ new Date(2020, 5 , 5), 533],-->
<!--				[ new Date(2020, 5 , 6), 1280],-->
<!--				[ new Date(2020, 5 , 7), 2133],-->
<!--				[ new Date(2020, 5 , 8), 2773],-->
<!--				[ new Date(2020, 5 , 9), 2133],-->
<!--				[ new Date(2020, 5 , 10), 1280],-->
<!--				[ new Date(2020, 5 , 11), 533],-->
<!--				[ new Date(2020, 5 , 12), 533],-->
<!--				[ new Date(2020, 5 , 13), 1280],-->
<!--				[ new Date(2020, 5 , 14), 2133],-->
<!--				[ new Date(2020, 5 , 15), 2773],-->
<!--				[ new Date(2020, 5 , 16), 2133],-->
<!--				[ new Date(2020, 5 , 17), 1280],-->
<!--				[ new Date(2020, 5 , 18), 533],-->
<!--				[ new Date(2020, 5 , 19), 533],-->
<!--				[ new Date(2020, 5 , 20), 1280],-->
<!--				[ new Date(2020, 5 , 21), 2133],-->
<!--				[ new Date(2020, 5 , 22), 2773],-->
<!--				[ new Date(2020, 5 , 23), 2133],-->
<!--				[ new Date(2020, 5 , 24), 1280],-->
<!--				[ new Date(2020, 5 , 25), 533],-->
<!--				[ new Date(2020, 5 , 26), 533],-->
<!--				[ new Date(2020, 5 , 27), 1280],-->
<!--				[ new Date(2020, 5 , 28), 2133],-->
<!--				[ new Date(2020, 5 , 29), 2773],-->
<!--				[ new Date(2020, 5 , 30), 2133],-->
<!--				[ new Date(2020, 6 , 1), 18963],-->
<!--				[ new Date(2020, 6 , 2), 903],-->
<!--				[ new Date(2020, 6 , 3), 903],-->
<!--				[ new Date(2020, 6 , 4), 2226],-->
<!--				[ new Date(2020, 6 , 5), 3612],-->
<!--				[ new Date(2020, 6 , 6), 4696],-->
<!--				[ new Date(2020, 6 , 7), 3612],-->
<!--				[ new Date(2020, 6 , 8), 2167],-->
<!--				[ new Date(2020, 6 , 9), 903],-->
<!--				[ new Date(2020, 6 , 10), 903],-->
<!--				[ new Date(2020, 6 , 11), 2167],-->
<!--				[ new Date(2020, 6 , 12), 3612],-->
<!--				[ new Date(2020, 6 , 13), 4696],-->
<!--				[ new Date(2020, 6 , 14), 3612],-->
<!--				[ new Date(2020, 6 , 15), 2167],-->
<!--				[ new Date(2020, 6 , 16), 903],-->
<!--				[ new Date(2020, 6 , 17), 903],-->
<!--				[ new Date(2020, 6 , 18), 2167],-->
<!--				[ new Date(2020, 6 , 19), 3612],-->
<!--				[ new Date(2020, 6 , 20), 4696],-->
<!--				[ new Date(2020, 6 , 21), 3612],-->
<!--				[ new Date(2020, 6 , 22), 2167],-->
<!--				[ new Date(2020, 6 , 23), 903],-->
<!--				[ new Date(2020, 6 , 24), 903],-->
<!--				[ new Date(2020, 6 , 25), 2167],-->
<!--				[ new Date(2020, 6 , 26), 3612],-->
<!--				[ new Date(2020, 6 , 27), 4696],-->
<!--				[ new Date(2020, 6 , 28), 3612],-->
<!--				[ new Date(2020, 6 , 29), 2167],-->
<!--				[ new Date(2020, 6 , 30), 903],-->
<!--				[ new Date(2020, 6 , 31), 903],-->
<!--				[ new Date(2020, 7 , 1), 10836],-->
<!--				[ new Date(2020, 7 , 2), 2064],-->
<!--				[ new Date(2020, 7 , 3), 2683],-->
<!--				[ new Date(2020, 7 , 4), 2064],-->
<!--				[ new Date(2020, 7 , 5), 1238],-->
<!--				[ new Date(2020, 7 , 6), 516],-->
<!--				[ new Date(2020, 7 , 7), 516],-->
<!--				[ new Date(2020, 7 , 8), 1238],-->
<!--				[ new Date(2020, 7 , 9), 2064],-->
<!--				[ new Date(2020, 7 , 10), 2683],-->
<!--				[ new Date(2020, 7 , 11), 2064],-->
<!--				[ new Date(2020, 7 , 12), 1238],-->
<!--				[ new Date(2020, 7 , 13), 516],-->
<!--				[ new Date(2020, 7 , 14), 516],-->
<!--				[ new Date(2020, 7 , 15), 1238],-->
<!--				[ new Date(2020, 7 , 16), 2064],-->
<!--				[ new Date(2020, 7 , 17), 2683],-->
<!--				[ new Date(2020, 7 , 18), 2064],-->
<!--				[ new Date(2020, 7 , 19), 1238],-->
<!--				[ new Date(2020, 7 , 20), 516],-->
<!--				[ new Date(2020, 7 , 21), 516],-->
<!--				[ new Date(2020, 7 , 22), 1238],-->
<!--				[ new Date(2020, 7 , 23), 2064],-->
<!--				[ new Date(2020, 7 , 24), 2683],-->
<!--				[ new Date(2020, 7 , 25), 2064],-->
<!--				[ new Date(2020, 7 , 26), 1238],-->
<!--				[ new Date(2020, 7 , 27), 516],-->
<!--				[ new Date(2020, 7 , 28), 516],-->
<!--				[ new Date(2020, 7 , 29), 1238],-->
<!--				[ new Date(2020, 7 , 30), 2064],-->
<!--				[ new Date(2020, 7 , 31), 2683],-->
<!--				[ new Date(2020, 8 , 1), 9331],-->
<!--				[ new Date(2020, 8 , 2), 1066],-->
<!--				[ new Date(2020, 8 , 3), 444],-->
<!--				[ new Date(2020, 8 , 4), 444],-->
<!--				[ new Date(2020, 8 , 5), 1066],-->
<!--				[ new Date(2020, 8 , 6), 1777],-->
<!--				[ new Date(2020, 8 , 7), 2310],-->
<!--				[ new Date(2020, 8 , 8), 1777],-->
<!--				[ new Date(2020, 8 , 9), 1066],-->
<!--				[ new Date(2020, 8 , 10), 444],-->
<!--				[ new Date(2020, 8 , 11), 444],-->
<!--				[ new Date(2020, 8 , 12), 1066],-->
<!--				[ new Date(2020, 8 , 13), 1777],-->
<!--				[ new Date(2020, 8 , 14), 2310],-->
<!--				[ new Date(2020, 8 , 15), 1777],-->
<!--				[ new Date(2020, 8 , 16), 1066],-->
<!--				[ new Date(2020, 8 , 17), 444],-->
<!--				[ new Date(2020, 8 , 18), 444],-->
<!--				[ new Date(2020, 8 , 19), 1066],-->
<!--				[ new Date(2020, 8 , 20), 1777],-->
<!--				[ new Date(2020, 8 , 21), 2310],-->
<!--				[ new Date(2020, 8 , 22), 1777],-->
<!--				[ new Date(2020, 8 , 23), 1066],-->
<!--				[ new Date(2020, 8 , 24), 444],-->
<!--				[ new Date(2020, 8 , 25), 444],-->
<!--				[ new Date(2020, 8 , 26), 1066],-->
<!--				[ new Date(2020, 8 , 27), 1777],-->
<!--				[ new Date(2020, 8 , 28), 2310],-->
<!--				[ new Date(2020, 8 , 29), 1777],-->
<!--				[ new Date(2020, 8 , 30), 1066],-->
<!--				[ new Date(2020, 9 , 1), 6321],-->
<!--				[ new Date(2020, 9 , 2), 301],-->
<!--				[ new Date(2020, 9 , 3), 722],-->
<!--				[ new Date(2020, 9 , 4), 1204],-->
<!--				[ new Date(2020, 9 , 5), 1565],-->
<!--				[ new Date(2020, 9 , 6), 1204],-->
<!--				[ new Date(2020, 9 , 7), 722],-->
<!--				[ new Date(2020, 9 , 8), 301],-->
<!--				[ new Date(2020, 9 , 9), 301],-->
<!--				[ new Date(2020, 9 , 10), 722],-->
<!--				[ new Date(2020, 9 , 11), 1204],-->
<!--				[ new Date(2020, 9 , 12), 1565],-->
<!--				[ new Date(2020, 9 , 13), 1204],-->
<!--				[ new Date(2020, 9 , 14), 722],-->
<!--				[ new Date(2020, 9 , 15), 301],-->
<!--				[ new Date(2020, 9 , 16), 301],-->
<!--				[ new Date(2020, 9 , 17), 722],-->
<!--				[ new Date(2020, 9 , 18), 1204],-->
<!--				[ new Date(2020, 9 , 19), 1565],-->
<!--				[ new Date(2020, 9 , 20), 1204],-->
<!--				[ new Date(2020, 9 , 21), 722],-->
<!--				[ new Date(2020, 9 , 22), 301],-->
<!--				[ new Date(2020, 9 , 23), 301],-->
<!--				[ new Date(2020, 9 , 24), 722],-->
<!--				[ new Date(2020, 9 , 25), 1204],-->
<!--				[ new Date(2020, 9 , 26), 1565],-->
<!--				[ new Date(2020, 9 , 27), 1204],-->
<!--				[ new Date(2020, 9 , 28), 722],-->
<!--				[ new Date(2020, 9 , 29), 301],-->
<!--				[ new Date(2020, 9 , 30), 301],-->
<!--				[ new Date(2020, 9 , 31), 722],-->
<!--				[ new Date(2020, 10 , 1), 2799],-->
<!--				[ new Date(2020, 10 , 2), 693],-->
<!--				[ new Date(2020, 10 , 3), 533],-->
<!--				[ new Date(2020, 10 , 4), 320],-->
<!--				[ new Date(2020, 10 , 5), 133],-->
<!--				[ new Date(2020, 10 , 6), 133],-->
<!--				[ new Date(2020, 10 , 7), 320],-->
<!--				[ new Date(2020, 10 , 8), 533],-->
<!--				[ new Date(2020, 10 , 9), 693],-->
<!--				[ new Date(2020, 10 , 10), 533],-->
<!--				[ new Date(2020, 10 , 11), 320],-->
<!--				[ new Date(2020, 10 , 12), 133],-->
<!--				[ new Date(2020, 10 , 13), 133],-->
<!--				[ new Date(2020, 10 , 14), 320],-->
<!--				[ new Date(2020, 10 , 15), 533],-->
<!--				[ new Date(2020, 10 , 16), 693],-->
<!--				[ new Date(2020, 10 , 17), 533],-->
<!--				[ new Date(2020, 10 , 18), 320],-->
<!--				[ new Date(2020, 10 , 19), 133],-->
<!--				[ new Date(2020, 10 , 20), 133],-->
<!--				[ new Date(2020, 10 , 21), 320],-->
<!--				[ new Date(2020, 10 , 22), 533],-->
<!--				[ new Date(2020, 10 , 23), 693],-->
<!--				[ new Date(2020, 10 , 24), 533],-->
<!--				[ new Date(2020, 10 , 25), 320],-->
<!--				[ new Date(2020, 10 , 26), 133],-->
<!--				[ new Date(2020, 10 , 27), 133],-->
<!--				[ new Date(2020, 10 , 28), 320],-->
<!--				[ new Date(2020, 10 , 29), 533],-->
<!--				[ new Date(2020, 10 , 30), 693],-->
<!--				[ new Date(2020, 11 , 1), 3612],-->
<!--				[ new Date(2020, 11 , 2), 413],-->
<!--				[ new Date(2020, 11 , 3), 172],-->
<!--				[ new Date(2020, 11 , 4), 172],-->
<!--				[ new Date(2020, 11 , 5), 413],-->
<!--				[ new Date(2020, 11 , 6), 688],-->
<!--				[ new Date(2020, 11 , 7), 894],-->
<!--				[ new Date(2020, 11 , 8), 688],-->
<!--				[ new Date(2020, 11 , 9), 413],-->
<!--				[ new Date(2020, 11 , 10), 172],-->
<!--				[ new Date(2020, 11 , 11), 172],-->
<!--				[ new Date(2020, 11 , 12), 413],-->
<!--				[ new Date(2020, 11 , 13), 688],-->
<!--				[ new Date(2020, 11 , 14), 894],-->
<!--				[ new Date(2020, 11 , 15), 688],-->
<!--				[ new Date(2020, 11 , 16), 413],-->
<!--				[ new Date(2020, 11 , 17), 172],-->
<!--				[ new Date(2020, 11 , 18), 172],-->
<!--				[ new Date(2020, 11 , 19), 413],-->
<!--				[ new Date(2020, 11 , 20), 688],-->
<!--				[ new Date(2020, 11 , 21), 894],-->
<!--				[ new Date(2020, 11 , 22), 688],-->
<!--				[ new Date(2020, 11 , 23), 413],-->
<!--				[ new Date(2020, 11 , 24), 172],-->
<!--				[ new Date(2020, 11 , 25), 172],-->
<!--				[ new Date(2020, 11 , 26), 413],-->
<!--				[ new Date(2020, 11 , 27), 688],-->
<!--				[ new Date(2020, 11 , 28), 894],-->
<!--				[ new Date(2020, 11 , 29), 688],-->
<!--				[ new Date(2020, 11 , 30), 413],-->
<!--				[ new Date(2020, 11 , 31), 172],-->
<!--			]);-->

<!--       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));-->

<!--       var options = {-->
<!--         title: "{parkName} - 2020 Calendar Year View",-->
<!--         height: 200,                  -->
<!--		 calendar: {-->
<!--      		underYearSpace: 10, // Bottom padding for the year labels.-->
<!--      		yearLabel: {-->
<!--        		fontName: 'Tahoma',-->
<!--        		fontSize: 40,-->
<!--        		color: '#1A8763',-->
<!--        		bold: false,-->
<!--        		italic: true,-->
<!--        	}, -->
<!--        	noDataPattern: {-->
<!--  				backgroundColor: '#76a7fa',-->
<!--  				color: '#76a7fa'-->
<!--			},   -->
<!--      		monthLabel: {-->
<!--	        	fontName: 'Tahoma',-->
<!--	        	fontSize: 20,-->
<!--	        	color: '#1A8763',-->
<!--	        	bold: false,-->
<!--	        	italic: false-->
<!--		    },-->
<!--		    monthOutlineColor: {-->
<!--		    	stroke: '#1A8763',-->
<!--		    	strokeOpacity: 0.8,-->
<!--		    	strokeWidth: 2-->
<!--		    },-->
<!--		    unusedMonthOutlineColor: {-->
<!--		    	stroke: '#1A8763',-->
<!--		    	strokeOpacity: 0.8,-->
<!--		    	strokeWidth: 1-->
<!--		    },-->
<!--		    underMonthSpace: 10,-->
<!--		    focusedCellColor: {-->
<!--      			stroke: 'orange',-->
<!--      			strokeOpacity: 0.8,-->
<!--      			strokeWidth: 3-->
<!--      		},-->
<!--      		colorAxis: {-->
<!--      			colors: ['green','#00b300'], -->
<!--      			values: [],-->
<!--      			minValue: 0,  colors: ['#00b300', '#00b300'],-->
<!--      			maxValue: 240000000, colors: ['#006700', '#006700']-->
<!--      		},-->
<!--			cellColor: {-->
<!--        		stroke: '#1A8763',-->
<!--        		strokeOpacity: 0.5,-->
<!--        		strokeWidth: 1-->
<!--        	},-->
<!--        	dayOfWeekLabel: {-->
<!--        		fontName: 'Tahoma',-->
<!--        		fontSize: 12,-->
<!--        		color: '#1A8763',-->
<!--        		bold: false,-->
<!--        		italic: true,-->
<!--      		},-->
<!--      		dayOfWeekRightSpace: 10,-->
<!--      		daysOfWeek: 'SMTWTFS',-->
<!--    	}		 -->
<!--		};-->
<!--       chart.draw(dataTable, options);-->
<!--}-->
<!--</script>-->
<!--</head>-->
<!--<body>-->
<!--	<div id="calendar_basic" style="width: 1000px; height: 200px;"></div>-->

<!--		<script>-->
<!--		function yearsite() {-->
<!--  		window.location = document.getElementById("year").value; // JQuery:  $("#year").val();-->
<!--		}	-->
<!--		</script>-->
<!--		-->
<!--		<select onclick="yearsite() "; class="form-control" style="display:inline; width:auto; margin-top:2px;" size="1" id="year">-->
<!--					<option value="#">Select Year</option>-->
<!--					<option value="./calendar3Yearpark.html">2021 - Current Year</option>-->
<!--					<option value="./calendar2020park.html">2020 - Prior Year</option>-->
<!--					<option value="./calendar2019park.html">2019</option>-->

<!--		</select>-->
<!--			<button class="btn btn-secondary btn-sm" id="makereservation">Make Your Reservation</button>-->
<!--			<script type="text/javascript">-->
<!--    			document.getElementById("makereservation").onclick = function () {-->
<!--        		location.href = "./calendar3Yearpark.html";-->
<!--    			};-->
<!--			</script>-->
<!--			</br>-->
<!--			</br>-->
<!--<image width="300" height="200" src="/Users/patri/Documents/eclipse_bueno/CPR_CodingParkRangers/src/main/resources/static/images/camping.jpg">-->
<!--<image width="300" height="200" src="/Users/patri/Documents/eclipse_bueno/CPR_CodingParkRangers/src/main/resources/static/images/hiking.jpg">-->
<!--<image width="300" height="200" src="/Users/patri/Documents/eclipse_bueno/CPR_CodingParkRangers/src/main/resources/static/images/sightseeing.jpg">-->

<!--				-->
<!--				-->
<!--</body>-->
<!--</html>-->