<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>Welcome to these great parks!</h3>
<!--    <p th:text="${park.name}">Hark!</p>-->
    <div></div>
    <form th:action="@{/}" th:object="${request}" method="post" autocomplete="off" >
        <div class="form-group">
            <input type="text" th:field="*{apiCategory}" placeholder="API Category" class="form-control"/>
            <input type="text" th:field="*{parkCode}" placeholder="Park Code" class="form-control"/>
        </div>
        <div class="form-group">
            <button class="btn btn-md btn-primary btn-block" name="Submit" value="Submit" type="Submit">
                Get Park</button>
        </div>
    </form>


</body>
</html>