<!--Individual Park is selected, this page shows up-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Park Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <!--    <link rel="stylesheet" type="text/css" href="../static/custom.css">-->
</head>
<body>

<!--Navbar-->
<div th:replace="fragments/navbar"></div>

<!--MAIN TITLE OF PAGE-->
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3" th:text="${park.getFullName()}"></h1>
            <div class="row">
                <p class="col">Plan a trip to <span th:text="${park.getFullName()}"></span>!</p>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary">Add to favorites</button>
                <button type="button" class="btn btn-success">Add to visited</button>
            </div>

        </div>
    </div>
</main>

<!--IMAGE CONTAINER-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<img src="https://images.unsplash.com/photo-1473285478869-e754fc9b1cee?ixid=MXwxMjA3fDB8MHxzZWFyY2h8OHx8YmlnJTIwYmVuZCUyMG5hdGlvbmFsJTIwcGFya3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="Responsive image">-->
<!--</div>-->
<!--</div>-->
<div class="container">
    <div class="row">
        <h3 th:text="${park.getFullName()}"></h3>
    </div>
    <div class="row">
        <p th:text="${park.getDescription()}"></p>
    </div>
    <div class="row">
        <div class="col-8" >
            <h4 >Weather Info</h4>
            <p th:text="${park.getWeatherInfo()}"></p>
        </div>
        <div class="4">
            <h4>Location</h4>
            <p class="col" th:text="${park.getLatLong()}"></p>
            <a class="col" th:href="${park.getDirectionsUrl()}" >Directions to the park!</a>
        </div>
    </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="container">
        <div class="carousel-inner" id="carousel-container">
            <div class="carousel-item active">
                <img class="d-block w-100" th:src="${firstImage.get('url')}" th:alt="${firstImage.get('alt')}">
                <div class="carousel-caption d-none d-md-block">
                    <h5 th:text="${firstImage.title}"></h5>
                    <p th:text="${firstImage.caption}"></p>
                </div>
            </div>
            <div class="carousel-item" th:each="image :${park.getImages()}">
                <img class="d-block w-100" th:src="${image.get('url')}" th:alt="${image.get('alt')}">
                <div class="carousel-caption d-none d-md-block">
                    <h5 th:text="${image.title}"></h5>
                    <p th:text="${image.caption}"></p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    </div>

</body>
</html>