<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
<!--Navbar-->
<div th:replace="fragments/navbar"></div>

<!--Profile Tabs -->
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/profile">Profile</a></li>
    <li role="presentation"><a href="/visited">Visited Parks</a></li>
    <li role="presentation"><a href="/saved">Saved Parks</a></li>
</ul>

<!--Profile Title-->
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">@happycamper's Profile</h1>
        </div>
    </div>
</main>

<!-- Badges -->
<div class="container">
    <div class="container" id="badges">
        <!-- Badges -->
        <div class="row">
            <div class="col-xs-6 col-md-1 mr-4 ">
                <img src="../static/images/Asset 1Acadia.png" alt="acadia test logo" class="avatar ">
            </div>
            <div class="col-xs-6 col-md-1 mr-4">
                <img src="../static/images/Asset 1GrandCanyon.png" alt="big bend test logo" class="avatar">
            </div>
            <div class="col-xs-6 col-md-1 mr-4">
                <img src="../static/images/Asset 1RockyMtn.png" alt="yellowstone test logo" class="avatar">
            </div>
            <div class="col-xs-6 col-md-1 mr-4">
                <img src="../static/images/Asset 1Yosemite.png" alt="yosemite test logo" class="avatar">
            </div>
            <div class="col-xs-6 col-md-1 mr-4">
                <img src="../static/images/Asset 1Zion.png" alt="arches test logo" class="avatar">
            </div>
        </div>
<!--<div class="row">-->
<!--    <div class="col-xs-6 col-md-1">-->
<!--&lt;!&ndash;        NEED TO IMPORT FOLDER OF PNG IMAGES FROM GOOGLE DRIVE for badges&ndash;&gt;-->
<!--        <img src="./static/Yosemite.png" alt="badge 1" class="avatar">-->
<!--    </div>-->
<!--    <div class="col-xs-6 col-md-1">-->
<!--        <img src="#" alt="badge 2" class="avatar">-->
<!--    </div>-->
<!--    <div class="col-xs-6 col-md-1">-->
<!--        <img src="#" alt="badge 3" class="avatar">-->
<!--    </div>-->
<!--    <div class="col-xs-6 col-md-1">-->
<!--    <img src="#" alt="badge 4" class="avatar">-->
<!--    </div>-->
<!--    <div class="col-xs-6 col-md-1">-->
<!--        <img src="#" alt="badge 5" class="avatar">-->
<!--    </div>-->
<!--</div>-->

<!--User info-->
<div class="container">
    <div class="row">
        <div class="card col-md-3 small-product-card">
            <div class="card-body">
                <div class="card-title">
                    <h1>@happycamper</h1>
                </div>
                <div class="card-text">
                    <ul>
                        <li>Age: 27</li>
                        <li>About: Adventure seeker, gemini, lover of the outdoors!</li>
                        <li>Location: Autin, TX</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card col-md-3 small-product-card">
<!--    <img class="card-img-top" src="" alt="Card image cap">-->
            <div class="card-body">
                <div class="card-title">
                    <h1>Parks Visited</h1>
                </div>
                <div class="card-text">
                    <ul>
                        <li>Acadia National Park</li>
                        <li>Canyonlands National Park</li>
                        <li>Big Bend National Park</li>
                        <li>Yosemite National Park</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card col-md-3 small-product-card">
<!--STATIC CALENDAR IMAGE IN THS CARD-->
             <img class="card-img-top" src="" alt="calendar heatmap image here">
            <div class="card-body">
                <div class="card-title">
                    <h1>Trip Tracker</h1>
                </div>
                <div class="card-text">
                    <p>@happycamper's trips to National Parks.</p>
                </div>
            </div>
        </div>
</div>
</div>
</body>
</html>
