<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:replace="fragments/fragments :: head"></div>
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Profile</title>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
<!--    <link rel="stylesheet" href="../static/index.css">-->
<!--</head>-->
<body>
<!--Navbar-->
<div th:replace="fragments/fragments :: navbar"></div>
<!--Profile Tabs -->
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/profile">Profile</a></li>
    <li role="presentation"><a href="/visited">Visited Parks</a></li>
    <li role="presentation"><a href="/saved">Saved Parks</a></li>
    <li role="presentation"><a href="/reservation">Reservations</a></li>
</ul>

<!--Profile Title-->
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">@happycamper's Profile</h1>  <button class="btn btn-primary" name="Submit" type="Submit">Follow</button>
        </div>

    </div>
</main>

<!--User info-->
<div class="container">
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">About @happycamper</h3>
                    <p class="card-text"><ul>
                    <li>Age: 27</li>
                    <li>About: Adventure seeker, gemini, lover of the outdoors!</li>
                    <li>Location: Autin, TX</li>
                </ul>
                    </p>
                </div>
                </div>
            </div>
        </div>
    <!-- Badges -->
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">@happycamper's Badges</h3>
                    <p class="card-text">
                        <img width="70px" src="https://64.media.tumblr.com/551450c8a110f671b8c5fead4bd8569a/9cf673893aa73ae1-f6/s250x400/fd6e5971581f08b3cce9c0badc1b4e95d7f7f29d.png" alt="acadia logo" />
                        <img width="70px" src="https://64.media.tumblr.com/d9fb0d6272a4e713900a3d523f9b1874/32fb74025ed2a0ba-4b/s250x400/c63159feabd3176a2639180c429ecdf8103ba72d.png" alt="grand teton logo" />
                        <img width="70px" src="https://64.media.tumblr.com/70220ba537603d647ad65287e6a20167/32fb74025ed2a0ba-d4/s250x400/69f021e1d98c00d2d4ec7496d8fe46fa85811592.png" alt="rocky mountain logo" />
                        <img width="70px" src="https://64.media.tumblr.com/369ccdc551a0c13a86e5a426b587b7bb/32fb74025ed2a0ba-7f/s250x400/5ef6a10f9c7365e443ba341b017e75144177ddc7.png" alt="joshua tree logo" />
                        <img width="70px" src="https://64.media.tumblr.com/0f245963ea5dcf908fb43d80b91f047f/32fb74025ed2a0ba-7a/s250x400/66a69d798d4ce2b84cd1c2663e5995ca60cf42bd.png" alt="yosemite logo" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">Parks Visited</h3>
                    <p class="card-text"><ul>
                    <li>Acadia National Park</li>
                    <li>Grand Teton National Park</li>
                    <li>Rocky Mountain National Park</li>
                    <li>Joshua Tree National Park</li>
                    <li>Yosemite National Park</li>
                </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">Trip Tracker</h3>
                    <p class="card-text">Check out this heat map of @happycamper's trips to National Parks!</p>
                </div>
                <img class="img-fluid w-100" src="https://64.media.tumblr.com/51c2e60ffcbb11aaacbb59b81a733d67/eb275f2b3484b6e9-7b/s540x810/3a9a43254f3feef4ac18c28740d766c49ec5a84e.jpg" alt="calendar heatmap image here"/>
            </div>
        </div>
    </div>
    </div>
<div th:replace="fragments/fragments :: footer"></div>
</body>
</html>

