<!--SAVED/Favorited PARKS-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:replace="fragments/fragments :: head"></div>

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Saved Parks</title>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
<!--</head>-->
<body>
<!--Navbar-->
<div th:replace="fragments/fragments :: navbar"></div>
<!--Profile Tabs -->
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/profile">Profile</a></li>
    <li role="presentation"><a href="/visited">Visited Parks</a></li>
    <li role="presentation" class="active"><a href="/saved">Saved Parks</a></li>
    <li role="presentation"><a href="/reservation">Reservations</a></li>
</ul>

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">@happycamper's Saved Parks</h1>
            <p>Where do you want to go next? Save your next park here.</p>
        </div>
    </div>
</main>

<!--User's Saved Park Cards-->
<div class="container">
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img style="max-width: 300px; height: auto" src="https://64.media.tumblr.com/01b8853df7748836f133430dc1bfc23e/32fb74025ed2a0ba-63/s250x400/68fabaedf554cdf4ab63fe8ca824ed8343e1a70a.png" alt="Glacier Nat'l Park">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">Glacier National Park</h3>
                    <p class="card-text"></p>
                                        <p class="card-text">Come and experience Glacier's pristine forests, alpine meadows, rugged mountains, and spectacular lakes. With over 700 miles of trails, Glacier is a hiker's paradise for adventurous visitors seeking wilderness and solitude. Relive the days of old through historic chalets, lodges, and the famous Going-to-the-Sun Road. Explore Glacier National Park and discover what awaits you. <br><br>
                                        <small class="text-muted">Last updated 10 mins ago</small></p>
                    <a href="/reservation"><button class="btn btn-primary">Reserve</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img style="max-width: 300px; height: auto" src="https://64.media.tumblr.com/06ceac09b09deecfec933281dfe03aaa/32fb74025ed2a0ba-8c/s250x400/604defb428757a35f7adebce40255ada3a8b2354.png" alt="Arches Nat'l Park">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">Arches National Park</h3>
                    <p class="card-text"></p>
                    <p class="card-text">Visit Arches to discover a landscape of contrasting colors, land forms, and textures unlike any other in the world. The park has over 2,000 natural stone arches and hundreds of soaring pinnacles, massive rock fins, and giant balanced rocks. This red-rock wonderland will amaze you with its formations, refresh you with its trails, and inspire you with its sunsets. <br><br>
                        <small class="text-muted">Last updated 2 days ago</small></p>
                    <a href="/reservation"><button class="btn btn-primary">Reserve</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img style="max-width: 300px; height: auto" src="https://64.media.tumblr.com/02aaa383b07d74f4708eec8fa4e10ace/32fb74025ed2a0ba-f3/s250x400/0f68db926391d7d6001db28cf31e4bb63fccde55.png" alt="Olympic Nat'l Park">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">Olympic National Park</h3>
                    <p class="card-text">With its incredible range of precipitation and elevation, diversity is the hallmark of Olympic National Park. Encompassing nearly a million acres, the park protects a vast wilderness, thousands of years of human history, and several distinctly different ecosystems, including glacier-capped mountains, old-growth temperate rain forests, and over 70 miles of wild coastline. Come explore! <br><br></p>
                    <p class="card-text"><small class="text-muted">Last updated 1 week ago</small></p>
                    <a href="/reservation"><button class="btn btn-primary">Reserve</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/fragments :: footer"></div>
<!--ANNIE'S OLD CODE NOT USED -->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="card col-md-3 small-product-card">-->
<!--                <img class="card-img-top" src="https://64.media.tumblr.com/01b8853df7748836f133430dc1bfc23e/32fb74025ed2a0ba-63/s250x400/68fabaedf554cdf4ab63fe8ca824ed8343e1a70a.png" alt="Glacier Nat'l Park"/>-->
<!--            <div class="card-body">-->
<!--                <div class="card-title">-->
<!--                    <h1>Glacier National Park</h1>-->
<!--                </div>-->
<!--                <div class="card-text">-->
<!--                    <p>{parkDescription} / TBD</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="card col-md-3 small-product-card">-->
<!--            <img class="card-img-top" src="https://64.media.tumblr.com/06ceac09b09deecfec933281dfe03aaa/32fb74025ed2a0ba-8c/s250x400/604defb428757a35f7adebce40255ada3a8b2354.png" alt="Arches Nat'l Park"/>-->
<!--            <div class="card-body">-->
<!--                <div class="card-title">-->
<!--                    <h1>Arches National Park</h1>-->
<!--                </div>-->
<!--                <div class="card-text">-->
<!--                    <p>{parkDescription} / TBD</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="card col-md-3 small-product-card">-->
<!--            <img class="card-img-top" src="https://64.media.tumblr.com/02aaa383b07d74f4708eec8fa4e10ace/32fb74025ed2a0ba-f3/s250x400/0f68db926391d7d6001db28cf31e4bb63fccde55.png" alt="Olympic Nat'l Park"/>-->
<!--            <div class="card-body">-->
<!--                <div class="card-title">-->
<!--                    <h1>Olympic National Park</h1>-->
<!--                </div>-->
<!--                <div class="card-text">-->
<!--                    <p>{parkDescription} / TBD</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


</body>
</html>
