<!--STATE PAGE-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>State List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!--Navbar-->
<div th:replace="fragments/navbar"></div>

<!--State Title-->
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3" th:text="${stateName}"></h1>
            <p>These are the national parks in <span th:text="${stateName}"></span>.</p>
        </div>
    </div>
</main>

<div class="container">
    <div class="row">
        <div th:each="park : ${parksInfo}"
             class="card col-md-3 small-product-card">
<!--            <a class="card-img"/></a>-->
            <div class="card-body">
                <div class="card-title">
                    <h1 th:text="${park.fullName}"></h1>
                </div>
                <div class="card-text">
                <p th:text="${park.description}"></p>
                </div>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>