<!--STATE PAGE-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>State List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
<!--Navbar-->
<div th:replace="fragments/navbar"></div>

<!--State Title-->
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3" th:text="${stateName}"></h1>
            <p>These are the national parks in <span th:text="${stateName}"></span>.</p>

    <div class="container">
        <div th:each="park : ${parksInfo}" class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img style="max-width: 300px; height: auto" th:src="${park.images[0].get('url')}" th:alt="${park.images[0].get('alt')}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title" th:text="${park.fullName}"></h3>
                        <p class="card-text" th:text="${park.description}">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <!--                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                        <a th:href="@{/park/}${park.getParkCode()}}"><button class="btn btn-primary">Learn more</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>
</body>
</html>